<section class="contact-us" id="contact">
  <div class="container-fluid py-3">
    <div class="row mt-5">
      <div class="col-md-12 text-center">
      <h3>
        Contact Us
      </h3>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-md-6">
<!--        <agm-map [latitude]="lat" [longitude]="lng">-->
<!--          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--        </agm-map>-->
      </div>
      <div class="col-md-6">
        <div class="row ">
          <div class="col-md-5 ">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="col-md-10">
                <span> A108 Adam Street, NY 535022</span>
              </div>

            </div>
          </div>
          <div class="col-md-4 ">
            <div class="row">
              <div class="col-md-2">
                <i class="far fa-envelope"></i>
              </div>
              <div class="col-md-10">
                <span>info@example.com</span>
              </div>

            </div>
          </div>
          <div class="col-md-3 ">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-phone-alt"></i>
              </div>
              <div class="col-md-10">
                <span>  +1 5589 55488</span>
              </div>

            </div>
          </div>
        </div>
        <form>
          <div class="row mt-4">

            <div class="col-md-6">
              <div class="form-group ">
                <input type="email" class="form-control" id="qexampleFormControlInput1" placeholder="Your Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group ">
                <input type="email" class="form-control" id="eexampleFormControlInput1" placeholder="Subject">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group ">
                <textarea placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="col-md-12 text-center ">
              <button class="btn btn-primary rounded-pill px-5">Send Message</button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
