<section class="about" id="about">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 m-auto text-center">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquid cum dolorum facilis hic necessitatibus
          tempora? </p>
      </div>

    </div>
    <div class="row p-5">
      <div class="col-md-6 ">

        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse eveniet magni nam omnis porro, quam
                sequi similique voluptatem voluptatibus? Fuga id incidunt itaque magnam odio omnis quis rem tempora.</p>

            </div>
            <div class="row">
              <div class="col-md-2 ">
                <div class="icon  ">
                  <i class="fas fa-shopping-bag"></i>
                </div>
              </div>
              <div class="col-md-10">
                <h5>Eiusmod TemPor</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto autem ea, eius esse, fugit
                  impedit inventore necessitatibus
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 ">
                <div class="icon  ">
                  <i class="fas fa-image"></i>
                </div>
              </div>
              <div class="col-md-10">
                <h5>Mangi Dolores</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto autem ea, eius esse, fugit
                  impedit inventore necessitatibus
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 ">
                <div class="icon  ">
                  <i class="far fa-chart-bar"></i>
                </div>
              </div>
              <div class="col-md-10">
                <h5>Dolor Sitema</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto autem ea, eius esse, fugit
                  impedit inventore necessitatibus
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-6 p-5">

        <img src="assets/images/about-img.svg" class="img-fluid " alt="">


      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 p-5">

        <img src="assets/images/about-extra-1.svg" class="img-fluid " alt="">


      </div>

      <div class="col-md-6  d-flex align-items-center">

        <div class="container ">
          <div class="row no-gutters ">
            <div class="col-md-12">
              <h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa!
              </h3>
            </div>
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque hic quae quas quibusdam quos?
                Assumenda doloribus libero neque. Assumenda aut debitis fuga iusto, nemo quas quod repellat tenetur
                voluptatum?</p>
            </div>
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque hic quae quas quibusdam quos?
                Assumenda doloribus libero neque. Assumenda aut debitis fuga iusto, nemo quas quod repellat tenetur
                voluptatum?</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="row ">

      <div class="col-md-6  d-flex align-items-center">

        <div class="container ">
          <div class="row no-gutters ">
            <div class="col-md-12">
              <h3>
                Assumenda doloribus libero neque. Assumenda aut debitis fuga iusto, nemo quas quod repellat tenetur
                voluptatum? </h3>
            </div>
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio error esse eum,
                exercitationem in modi molestias perspiciatis quidem reprehenderit. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Atque aut dicta id iste libero non nulla quidem! Mollitia, reiciendis,
                suscipit.</p>
            </div>
            <div class="col-md-12">
              <p> neque. Assumenda aut debitis fuga iusto, nemo quas quod repellat tenetur
                voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque hic quae quas quibusdam
                quos?
                Assumenda doloribus libero</p>
            </div>
            <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cumque hic quae quas quibusdam quos?
                Assumenda doloribus libero neque. Assumenda aut debitis fuga iusto, nemo quas quod repellat tenetur
                voluptatum?</p>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-6 p-5">

        <img src="assets/images/about-extra-2.svg" class="img-fluid " alt="">


      </div>

    </div>
  </div>
</section>
<section class="choose bg-blue text-white py-5">
  <div class="container-fluid">
    <div class="row  ">
      <div class="col-md-4 m-auto text-center">
        <h3>Why choose us?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nostrum consectetur adipisicing .</p>
      </div>


    </div>
    <div class="container">

      <div class="row ">
        <div class="col-md-4   text-center ">
          <div class="card-item rounded py-5 px-2 bg-subBlue">
            <i class="far fa-gem fa-3x"></i>
            <h4 class="pt-2"> Corporise dolorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis explicabo fugiat itaque maiores,
              porro
             </p>
            <a href="#" class="text-white font-weight-bolder pt-2">Read more</a>
          </div>

        </div>
        <div class="col-md-4 text-center ">
          <div class="card-item rounded py-5 px-2 bg-subBlue">
            <i class="fas fa-language fa-3x"></i>
            <h4 class="pt-2">Voluptates dolors</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.,
              porro
              quam quasi ratione repellat sint</p>
            <a href="#" class="text-white font-weight-bolder pt-2">Read more</a>
          </div>

        </div>
        <div class="col-md-4   text-center ">
          <div class="card-item  rounded px-2 py-5  bg-subBlue ">
            <i class="fas fa-expand-arrows-alt fa-3x"></i>
            <h4 class="pt-2">Eum ut aspernatur</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis explicabo fugiat itaque
            </p>
            <a href="#" class="text-white font-weight-bolder pt-2">Read more</a>
          </div>

        </div>

      </div>
      <div class="row mt-5">
        <div class="col-md-3 text-center">
          <div class="numbers">
            <h2>274</h2>
            <p class="text-muted">Clients</p>
          </div>
        </div>
          <div class="col-md-3 text-center">
          <div class="numbers">
            <h2>421</h2>
            <p class="text-muted">Projects</p>
          </div>
        </div>
          <div class="col-md-3 text-center">
          <div class="numbers">
            <h2>1,364</h2>
            <p class="text-muted">Hours Of Support</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="numbers">
            <h2>18</h2>
            <p class="text-muted">Hard Workers</p>
          </div>
        </div>


      </div>
    </div>
  </div>

</section>

