<section class="portfolio">
  <div class="container">
    <div class="row  mt-5">

      <div class="col-md-9 m-auto">
        <p-tabView>
          <p-tabPanel header="All" class="">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="portflio-item ">
                      <img src="assets/images/portfolio/app1.jpg" alt="" class="img-fluid rounded">
                      <div class="item">
                        <div class="text-center">
                          <h6>Web</h6>
                          <div class="d-flex">
                            <div class="icon2">
                              <i class="fas fa-eye"></i>
                            </div>
                            <div class="icon2">
                              <i class="fas fa-external-link-alt"></i>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-12">
                    <div class=" mt-2 portflio-item">
                      <img src="assets/images/portfolio/web2.jpg" alt="" class="img-fluid rounded">
                      <div class="item">
                        <div class="text-center">
                          <h6>Web</h6>
                          <div class="d-flex">
                            <div class="icon2">
                              <i class="fas fa-eye"></i>
                            </div>
                            <div class="icon2">
                              <i class="fas fa-external-link-alt"></i>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-12">
                    <div class="mt-2 portflio-item">
                      <img src="assets/images/portfolio/web1.jpg" alt="" class="img-fluid rounded">
                      <div class="item">
                        <div class="text-center">
                          <h6>Web</h6>
                          <div class="d-flex">
                            <div class="icon2">
                              <i class="fas fa-eye"></i>
                            </div>
                            <div class="icon2">
                              <i class="fas fa-external-link-alt"></i>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/web3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card2.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/app2.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/app3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card1.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="App">
            <div class="row">

              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/web3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card2.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </p-tabPanel>
          <p-tabPanel header="Card">
            <div class="row">
              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card2.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/web3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card1.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Web">
            <div class="row">
              <div class="col-md-4">
                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/web3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card3.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-4">

                <div class="mt-2 portflio-item">
                  <img src="assets/images/portfolio/card2.jpg" alt="" class="img-fluid rounded">
                  <div class="item">
                    <div class="text-center">
                      <h6>Web</h6>
                      <div class="d-flex">
                        <div class="icon2">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="icon2">
                          <i class="fas fa-external-link-alt"></i>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</section>
