<section class="footer bg-blue text-white">
  <div class="container-fluid">
    <div class="row p-5 ">
      <div class="col-md-4">
        <h4 class="font-72 font-weight-light text-uppercase">Welcome</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur corporis cum dicta enim eos id
          inventore labore libero molestiae nam pariatur possimus quaerat qui saepe, sed suscipit voluptate. Ab
          assumenda cum, inventore ipsum non reprehenderit tempore. Fugit, quisquam, sapiente?</p>
      </div>
      <div class="col-md-2">
        <h6>USEFUL LINKS</h6>
        <ul class="list-unstyled">
          <li>Home</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Terms of service</li>
          <li>Privacy policy</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div>
          <h6>CONTACT US</h6>
          <p>A108 Adam street</p>
          <p>New York,NY 553022</p>
          <p>United States</p>
          <p><span class="font-weight-bold">Phone:</span>+1 5589 55488 55</p>
          <p><span class="font-weight-bold">Email:</span>info@example.com</p>
        </div>
        <div class="social d-flex text-white">
          <div class="icon2">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="icon2">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="icon2">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="icon2">
            <i class="fab fa-google-plus-g"></i>
          </div>
          <div class="icon2">
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <h6>OUR NEWSLETTER</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, amet aperiam aut autem consequatur,
          deserunt dolorum ex incidunt ipsum libero officiis quae quis recusandae repellendus repudiandae sint sunt
          tempore temporibus ut, vero. Commodi debitis facilis illum iure laboriosam, quisquam soluta!</p>
        <form action="">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="form-group">
                <input type="text" class="form-control rounded-0">
              </div>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary rounded-0">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row bg-subBlue  ">
      <div  class=" col-md-12 py-3 d-flex align-items-center justify-content-center">
        <div>
          © Copyright-All Rights Reserved
        </div>
      </div>

    </div>
  </div>
</section>
